@{
    ViewData["Title"] = "Registration";
}
@if (ViewData["ErrorMessage"] != null)
 {
     <div class="alert alert-danger" role="alert">
         @(ViewData["ErrorMessage"])
     </div>
 }

<form method="post">
    <div class="form-group row">
        <div class="col-2 text-right">
            <label for="login" class="col-form-label font-weight-bold">Login</label>
        </div>
        <div class="col-6 col-lg-3">
            <input class="form-control" id="login" name="login" placeholder="Enter login">
            <small id="passwordHelpBlock" class="form-text text-muted">
                Your login must be 1-20 characters long.
            </small>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-2 text-right">
            <label for="password" class="col-form-label font-weight-bold">Password</label>
        </div>
        <div class="col-6 col-lg-3">
            <input type="password" class="form-control" id="password" name="password" placeholder="Password" aria-describedby="passwordHelpBlock">
            <small id="passwordHelpBlock" class="form-text text-muted">
                Your password must be 1 or more characters long.
            </small>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-2 text-right">
            <label for="repeatPassword" class="col-form-label font-weight-bold">Confirm password</label>
        </div>
        <div class="col-6 col-lg-3">
            <input type="password" class="form-control" id="repeatPassword" name="repeatPassword" placeholder="Confirm password">
        </div>
    </div>
    <div class="row">
        <div class="col-3 offset-2">
            <button type="submit" class="form-control btn btn-primary">Next</button>
        </div>
    </div>
</form>